*{
    padding: 0%;
    margin: 0%;
    background-color: antiquewhite;
    
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
  
    color:rgb(233, 9, 9) ;
}
.inputform{
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}
.iform{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: rgb(248, 11, 11);
    text-align: center;
    border: 1px solid rgb(96, 202, 10);
    margin: 40px;
    border-radius: 20px;
}
.iname,.ibatch,.icourse{
    width: 400px;
    font-weight: bold;
    color: rgb(3, 2, 1);
    height: 40px;
    border-radius: 20px;
    padding-left:20px ;
    margin: 30px;
    border: none;
    box-shadow: 5px 5px 10px;
}
.abtn{
    margin-left: 45%;
    height: 30px;
    width: 70px;
    background-color: blue;
    color: white;
    border-radius: 15px;

}
.ubtn{
    margin-left: 45%;
    height: 30px;
    width: 70px;
    background-color: rgb(206, 10, 27);
    color: white;
    border-radius: 15px;

}
.cards{
    display:grid;
   grid-template-columns: 1fr 1fr 1fr;
  
  
}
.card{
    background-color: white;
    border: 1px solid rgb(168, 88, 82);
    width: 290px;
    margin: 10px;
    margin-left: 170px;
    
}

.name,.course,.batch{
    padding: 10px;
    text-align: left;
   
}
.btn{
   
    text-align: center;
    padding: 10px;
}
.ebtn{
    background-color: #43dd1c;
    height: 30px;
    width: 50px;
    margin: 10px;
     border:none;
     border-radius: 3px;

}
.ebtn:hover{
    border:2px solid #80deea ;
}
.dbtn{
    background-color: red;
    height: 30px;
    width: 50px;
    margin: 5px;
    border:none;
    border-radius: 3px;
    color: white;
}

.dbtn:hover{
    border:2px solid #ff8a65;
}

@media screen and (max-width:1400px) {
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
}

@media screen and (max-width:900px) {
    .cards{
        display: grid;
        grid-template-columns: 1fr ;
    }
}